body{
    font-family:'Noto Sans KR';
    margin: 0px;
}
nav{
    width: 100%;
    top: 0px;
    /*position: fixed;*/
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ff7e00;
}
.nav{
    width: 1200px;
    height: 120px;
    margin: 0px 10px 0px 10px;
}
.nav_top{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_top div:nth-child(2){
    display: flex;
    align-items: center;
}
.nav_left{
    float:left;
    margin:0;
}
.logo{
    font-family: 'Noto Sans KR';
    font-size:26px;
    font-weight:bold;
    color:#ff7e00;
}
.nav_top_user li{
    float:left;
    padding:10px;
}
.nav_top_user{
    float:right;
    font-size:14px;
    height:40px;
}
li{
    list-style:none;
}
.nav_bottom ul li{
    float:left;
    padding-right: 30px;
}
.nav_bottom ul {
    padding: 0px;
}
.nav_bottom{
    height:60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_contents{
    display:flex;
    font-size:16px;
}
.nav_search input{
    background-image:url('/resources/img/search.png');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position:265px;
    width:300px;
    height:35px;
    border-radius: 10px;
    border: 1px solid #ff7e00;
    outline: none;
    padding-left:10px;
}
.nav_search img{
    width:20px;
    height:20px;
}
.add_recipe{
    width:100px;
    height:30px;
    background-color:#ff7e00;
    font-size: 14px;
    color:white;
    border: none;
    outline:0;
    border-radius: 5px;
}
a{
    text-decoration: none;
    color:black;
}