label {
    font-size: 14px;
    margin-bottom: 10px;
}

.modal_window input{
    width: 400px;
    height: 30px;

    background-color: #efefef;
    border: none;
    outline:none;
    border-radius: 5px;
    padding: 0px 5px;
    margin: 5px 0px;
}
.modal_window input:focus{
    background-color: white;

    outline: 2px solid #ff7e00;
}

.modal_window form p {
    font-size: 12px;
    color: red;
}

.modal_window > div{
    margin-top:16px;
}
.modal_top div:nth-child(1){
    height : 60px;
}

.modal_top div:nth-child(2){
    border-bottom: 2px solid #efefef;
}

.modal_top div:nth-child(2) button{
    border:none;
    height: 40px;
    background-color: white;
    padding: 0px 8px;
    font-size: 14px;
    margin-right: 16px;
    border-bottom: 2px solid white;
}
.modal_top div:nth-child(2) button:hover{
    background-color: #efefef;
}

.submit_btn{
    width: 400px;
    height: 30px;
    background-color: #ff7e00;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    margin-bottom: 16px;
}

.submit_btn:hover {
    background-color: #e77400;
}

.submit_btn:disabled {
    background-color: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.24);
}