#step2_container > div {
    margin: 25px 0px;
}

.text_box{
    display: flex;
    justify-content: space-between;
    padding: 6px 10px;
}

.text_box > p:nth-child(1){
    font-size: 16px;
    font-weight: 500;
}

.text_box > p:nth-child(2){
    font-size: 16px;
    font-weight: 400;
    color: #888888;

}

.text_box_wrap{
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    margin: 8px 0px 0px 0px;
    padding: 8px 0px;
}

.invest_info_wrap{
    background-color: #efefef;
    border-bottom: 1px solid #cccccc;
    padding: 8px 0px;
    display: none;
}

.reward_info_wrap{
    background-color: #efefef;
    padding: 8px 0px;
    border-bottom: 1px solid #cccccc;
    display: none;
}

.text_box_wrap3{
    background-color: #efefef;
    padding: 8px 0px;
    margin-top: 8px;
}

.card_info_container{
    background-color: #efefef;
    padding: 20px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.check_box_wrap{
    display: flex;
    flex-direction: column;
}

.check_box_wrap > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.check_box_wrap a{
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid #888888;
}

.check_box_wrap label{
    display: flex;
    align-items: center;
    margin: 10px 0px;
    font-size: 16px;
    font-weight: 500;
}

.check_box_wrap input{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.pay_btn{
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #FF7E00;
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.card_info_input{
    width: 100px;
    height: 30px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    text-align: center;
}