.title_img_box{
    margin: 25px auto;
    width: 1000px;
    height: 350px;
    background-color: #cccccc;
}

.sub_title{
    font-size:24px;
    font-weight: 500;
    margin-bottom:8px;
}

.card_box{
    width: 150px;
    height: 150px;
    background-color: #cccccc;
    border-radius: 10px;
}

.card_box_container{
    display: flex;
    justify-content: space-between;
}

.planning_container{
    width:1000px;
    margin: 0px auto 25px auto;
}

.tag_container{
    width:1000px;
    margin: 0px auto 25px auto;
}

.search_box{
    width: 230px;
    border-bottom: 1px solid #888888;
}

#search_input{
    width: 230px;
    height: 30px;
    border: none;
}

.tag_sub_container{
    display: flex;
    justify-content: space-between;
}

.tag_text{
    font-size: 14px;
    color: #cccccc;
}

.funding_container{
    width: 1000px;
    margin: 0 auto;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.funding_item{
    height: 360px;
}

.funding_img_box{
    border-radius: 5px;
    height: 200px;
    background-color: #cccccc;
    margin-bottom: 4px;
    background-size: cover;
}

.funding_title{
    font-size: 16px;
    font-weight: 500;
}

.funding_percentage{
    display: flex;
    justify-content: flex-end;
    font-size:26px;
    font-weight: bold;
    color: #FF7E00;
}

.amount_container{
    display: flex;
    justify-content: space-between;
}

.amount_container p{
    color: #cccccc;
}

.tag_icon{
    margin-right: 5px;
}

.funding_title_container{
    margin-bottom: 4px;
    height: 50px
}