<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <package name="com.funkit.model"/>
    </typeAliases>

    <mappers>
        <mapper resource="mybatis/login.xml"/>
        <mapper resource="mybatis/tag.xml"/>
        <mapper resource="mybatis/recipe.xml"/>
        <mapper resource="mybatis/ingredients.xml"/>
        <mapper resource="mybatis/recipe_main.xml"/>
        <mapper resource="mybatis/funding.xml"/>
        <mapper resource="mybatis/reward.xml"/>
        <mapper resource="mybatis/notice.xml"/>
        <mapper resource="mybatis/recipe.xml"/>
        <mapper resource="mybatis/manager.xml"/>
        <mapper resource="mybatis/tag.xml"/>
        <mapper resource="mybatis/fundingOrder.xml"/>
    </mappers>
  
</configuration>