#add_cooking{
    margin-top:100px;
    font-size: 26pt;
    font-weight: bold;
    text-align: center;
}
.text_box{
    width:465px;
    height:115px;
    border-radius: 5px;
    border:1px solid #cccccc;
    margin-left:20px;
    outline: none;
}
.cooking_orders{
    font-size: 26pt;
    font-weight: bold;
    text-align:right;
}
.orders_mar{
    margin-top:50px;
}
.button_area{
    margin:0 auto;
    width:100px;
    display:flex;
    justify-content: space-evenly;
}
.button_PnM{
    text-align:center;
    width:35px;
    height:35px;
    border-radius: 5px;
    border:1px solid #ff7e00;
    background-color: white;
    font-size: 16pt;
    color:#ff7e00;
    cursor: pointer;
}
.remove_btn{
    font-size: 12px;
    padding-left:10px;
    border:none;
    background-color: #fafafa;
    cursor: pointer;
}
.order_count{
    margin-top:10px;
    display: flex;
    align-items: center;
}
.img_input{
    visibility: hidden;
    height:0%;
    width:0%;
}
.img_button{
    display: flex;
    justify-content: center;
    width:115px;
    height:115px;
    background-color: #fafafa;
    cursor: pointer;
}
.img_button img{
    border:1px solid #cccccc;
    border-radius: 10px;
    background-color: #fafafa;
    cursor: pointer;
}
#sub_btn{
    margin:0 auto;
    width: 200px;
    display: flex;
    justify-content: space-evenly;
}
#sub_btn button{
    margin-top:100px;
    margin-bottom:100px;
    width:80px;
    height:35px;
    background-color: #ff7e00;
    border:1px solid #ff7e00;
    border-radius: 5px;
    color: white;
}