#notice-write {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    min-height: 500px;
}
h3{
    margin-top: 20px;
    font-size:24px;
    color:#000000;
}
.writer-form-title label{
    font-size:16px;
}
.writer-form-title input{
    width:30%;
    height: 30px;
    border: 1px solid #c3c6d0;
    margin:20px 0 0 30px;
}

.writer-form-content{
    margin-top:30px;
    display: flex;
}
.writer-form-content label{
    font-size:16px;
}
.writer-form-content textarea {
    width:600px;
    height: 500px;
    margin-left:34px;
    border: 1px solid #c3c6d0;
    resize: none;
}
#writer-form-button {
    margin: 40px 0 30px 0;
    
}
#writer-form-button button{
    background-color: #efefef;
    color: #000;
    border: none;
    height: 30px;
    font-size:16px;
    font-weight:500;
    width:60px;
}
#writer-position{
    margin: 0 auto;
    width: 1000px;
}
footer {
    width: 100%;
    color: #888888;
    border-top: 1px solid #888888;
    background-color: #fafafa;
    margin-top: 70px;
}

.footer_container {
    margin: 0 auto;
    width: 1200px;
    height: 240px;
    padding: 0px 10px;
    display: flex;
}

.logo_box {
    display: flex;
    ;
    justify-content: center;
    align-items: center;
    width: 320px;
    ;
    height: 100%;
}

.info_box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.about_box {
    display: flex;
    flex-direction: column;
}

.info_box_top {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info_box_top > div {
    margin: 2px 0px;
}

.info_box > div {
    width: 700px;
    height: 50%;
}

footer p,
a {
    font-size: 14px;
    font-weight: 600;
}

footer ul {
    list-style: none;
}

.info_box li {
    float: left;
    margin-right: 30px;
}

.info_box_bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info_box_bottom > div {
    margin: 2px 0px;
}

.about_box li {
    margin: 5px 0px;
}

.about_box h2 {
    margin-top: 50px;
    margin-bottom: 12px;
}


