.mypage_top{
    width: 100%;
    height: 230px;
    background: #efefef;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}
.container{
    width:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.mypage_top_content_box{
    width: 780px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile_img_box{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: skyblue;
    margin-right: 16px;
}
.profile_box{
    display: flex;
    align-content: center;
    align-items: center;
}
.profile_menu_box a{
    font-size: 14px;
    color: #888888;
    text-decoration: none;
}
.profile_menu_box a:nth-child(2){
    margin-left: 16px;
}
.mypage_bottom{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title_box h1{
    color: #ff7e00;
}

.add_project_btn{
    border: 1px solid #888888;
    height: 35px;
    width: 140px;
    background: none;
}

.add_project_btn > a{
    color: #888888;
    font-size: 16px;
    font-weight: 400;
}

.menu_box{
    margin-top: 20px;
    margin-bottom: 20px;
}

.menu_box button{
    color: #888888;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    background: none;
    margin-right: 10px;
}

.menu_box button:nth-child(1){
    color: black;
    border-bottom: 2px solid #888888;
}

.mypage_bottom_container{
    width: 780px;
}

.funding_box{
    border: 1px solid #E2E2E2;
    padding: 15px;
    padding: 15px;
}

.img_box{
    background-color: #DDDDDD;
    height: 130px;
    margin-bottom: 4px;
    margin-top: 8px;
    background-size: cover;
}

.funding_title{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 16px;
    height: 60px;
}
.button_box{
    display: flex;
    justify-content: space-evenly;
}

.button_box button{
    padding: 4px 16px;
    background: none;
    border:1px solid #E2E2E2;
}

.status_text{
    font-size: 16px;
    font-weight: 500;
}

.contents_box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

#pagination{
    display: flex;
    justify-content: center;
    margin: 30px 0px;
}

#pagination button{
    width: 35px;
    height: 35px;
    border: none;
    background: none;
    font-size: 14px;
    font-weight: 400;
    margin: 0px 4px;
}

#pagination button:hover{
    color:#ff7e00;
    font-weight: bold;
}

.pagination_active {
    color:#ff7e00;
    font-weight: bold !important;
}

